{% extends 'base.html' %}
{% load static %}

{% block title %}
	Home
{% endblock %}

{% block content %}
	<div class="container-fluid">
	    <nav class="home_list text-center">
	    	<div class="col-12 text-center">
		      <a href="{% url 'post_url' %}">MY BLOG</a>
		      <a href="http://ahabmeirman.pythonanywhere.com/translate/">PORTFOLIO</a>
		      <a href="{% url 'my_resume_url' %}">ABOUT ME</a>
		      <a href="#">LINK</a>
		      <div class="line"></div>
			</div>
	    </nav>
	</div>
{% endblock %}
