{% extends 'base.html' %}
{% load static %}

{% block title %}
	Resume
{% endblock %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}">

	<br>{# br - делает отступ #}
	<div class="container">

		<div class="row">

			<div class="col-md-3">
				<div class="card card-body" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'image/jcole.jpeg' %}">
					<hr>
					<h4>Hi I'm Baha!</h4>
					<p>I love coding, doing research and collaborating</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body">
					<h4>About me</h4>
					<hr>
					<p>Life is like an escalator. If you don't make one step forward every day, you make one step backward. This is my life credo.</p>
					<p>I am interested in getting qualifications as a Backend web developer because I think web programming is my favorite activity. </p>
                    <p>I deeply learn framework Django in order to create something new and useful. </p>
					<ul class="social-links">
						<li><img class="social" src="{% static 'icons/linkedin.svg' %}"></li>
						<li><img class="social" src="{% static 'icons/instagram.svg' %}"></li>
						<li><img class="social" src="{% static 'icons/telegram.svg' %}"></li>
					</ul>
				</div>
			</div>
		</div>
		<br>
		<div class="row">

			<div class="col-md-6">
				<div class="card card-body">
					<h5>What motivates me</h5>
					<hr>
					<p>Books. Recently, having read a book called "Grokking Algorithms" by Aditya Bhargava I understood that simple is better than complex. There are a lot of solutions of tasks but you should be able to find the simplest way. Some tasks are impossible and you need to figure them out too.</p>
					<p>New knowledge. When I get new knowledge and apply it in practice, I realize that I am approching my dream one step closer. </p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body">
					<h5>What I know</h5>
					<hr>
					<p>
						{% for skill in skills %}
							<span class="badge badge-pill badge-info">{{ skill.title }}</span>
						{% endfor %}
					</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">

			<div class="col-md-3">
				<div class="card card-body">
					<h5>How I learn</h5>
					<hr>
					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body">
					<h5>My short term goals</h5>
					<hr>
					<p>I would like to become a middle web-developer. I want to apply entirely all the knowledge that I have learned before. </p>
					<p>I want to work for a company which will give me an opportunity to develop my skills and exchange experience. I am going to create high quality projects using modern tools.  </p>
				</div>
			</div>
		</div>
		<br>
	</div
{% endblock %}